#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

#home p {
    font-size: 36px;
}